*{
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    object-fit: cover;
}
body{
    /* overflow-x: hidden; */
    background: black;
    color: white;
}

/* #hamburger{
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
} */
/* .hamburger{
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 55px ;
    width: 55px;
    background: linear-gradient(to bottom, black ,black 20%,transparent 20% , transparent 40% , black 40% ,black 60%,transparent 60%, transparent 80%, black 80%, black 100%);
} */

.header{
    width: 100%;
    min-height: 100vh;
    background-image: url(backgroundimage.jpg);

    background-size:100% 100% ;
    /* background-position: center; */
    background-position: center;
}
.header-container{
    padding: 10px 0;
}

nav{
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.224);
    padding: 20px;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    /* display: none; */
    height: 3px;
    width: 0;
    content: '';
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
/* .navHam{
    display: flex;
} */
/* .nav1{
    display: none;
}
.nav2 {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 100vh;
    flex-direction: column;
}
.nav2 ul {
    height: 100vh;
}
.nav2 ul li {
    margin-top: 10px;
} */

.header-info{
    margin-top: 20%;
}
.header-info h1{
    font-size: 40px;
    margin-top: 20px;
}
.header-info span{
    color: yellow;
}
/* ended */

/* about section */
#about{
    padding: 1rem 0;
    min-height: 100vh;
    color: white;
}
.about-container-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}
.heading{
    display: flex;
    justify-content: center;
    grid-column:1 / 2 span ;
    margin-bottom: 1rem;
}
.about-left{
    display: flex;
    justify-content: center;
    /* width: 50%; */
}
.about-left img{
    /* height: 100%; .about-image{
    flex-basis: 35%;
}*/
    width: 50%;
    /* width: 400px; */
    /* margin-left: 40%; */
}
/*  */
/* .about-right{
    /* flex-basis: 60%; */
/* } */
.about-title{
    font-size: 60px;
    font-weight: 500;
    color: white;
}
.about-title span{
    color: yellow;
}
.about-educations-skills{
    display: flex;
    margin: 20px 0 ;
}
.about-educations-skills-items{
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    

}
.about-educations-skills-items::after{
    position: absolute;
    height: 3px;
    width: 0;
    content: '';
    background: yellow;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}
.about-educations-skills-items:hover::after{
    width: 100%;
}
.about-details ul li{
    list-style: none;
    margin: 10px 0;
}
.about-details ul li span{
    color: yellow;
    font-size: 16px;
}
.about-details{
    display: none;
}
.about-details.active-details{
    display: block;
}
/* ended */

/* recent projects section */
#recent-projects{
    padding: 150px 70px;
}
.project-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    margin-top: 50px;   
}
.project-items div{
    background: grey;
    padding: 30px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project-items div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-items div p{
    font-size: 16px;
    font-weight: 200;
}
.project-items div a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.project-items div:hover {
    background: rgb(242, 242, 112);
    color: black;
    transform: translateY(-10px);
}
.project-items div:hover a{
    color: black ;
}
/* ended */

/* contact section */
#contact{
    padding: 100px 70px;
}
.contact-container{
    display: flex;
    justify-content: flex-end;
}
.contact-details h1{
    margin-bottom: 20px;
}
.about-mail{
    display: flex;
    align-items: center;
}
.about-mail p{
    font-size: 20px;
    font-weight: 500;
}
.my-socials{
    margin-top: 25px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: grey;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
/* ended */

@media (max-width:900px) {
    .about-left img{
        width: 80%;
    }
    .header-container{
        padding: 10px ;
    }
    nav ul li{
        margin: 10px 10px;
    }
    .project-items{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media(max-width:550px){
    .header{
        background-image:  url(phoneBg.jpg);
    }
    .about-container-one{
        display: flex;
        flex-direction: column
    }
    #recent-projects{
        padding: 50px 10px;
    }
    #contact{
        padding: 50px 10px;
        display: flex;
        justify-content: center;
    }
    .project-items{
        grid-template-columns: 1fr;
    }
    .about-title{
        font-size: 2.5rem;
    }
    .about-mail p{
        font-size: 0.9rem;
    }
    .about-educations-skills-items{
        margin-right: 10px;
    }
    
    .contact-container{
        justify-content: center;
    }
    .about-right {
        margin: 1rem ;
    }
    nav ul li{
        /* margin: 10px 5px; */
        margin: 0;
        margin-right: 5px;
        /* font-size: 0.5rem; */
    } 
    nav ul li a{
        font-size: 0.6rem;
    }  
    nav{
        padding: 5px 10px;
    } 
    .header-container{
        padding: 10rem 0;
        min-height: 100vh;  
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .header-info{
        /* font-size: 1rem; */
        margin: 0;
    }
    .header-info h1{
        font-size: 2rem;
    }
    .copyright{
        padding: 10px 0;
    }
}